body{
    background-color: rgb(253, 219, 167);
    text-align: center;
    font-size: 400%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedorIndex{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*Animacion aparecer */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fade-in{
    animation-name: fadeIn ;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
/*Animacion sacudir */
 @keyframes shake { 
    0%, 100% 
    { transform: translateX(0); } 
    10%, 30%, 50%, 70%
     { transform: translateX(-5px); } 
     20%, 40%, 60%, 80% 
     { transform: translateX(5px); } 
    }

.shake{
    animation: shake 2s ease-in-out infinite;
}

/*Estilos para el boton para ir al directorio(main) */
#botonMain{
    background-color: rgb(190, 109, 42);
    font-family:'Times New Roman', Times, serif;
    color: black;
    cursor: pointer;
    transition: background-color 2s linear, transform 2s linear;
    margin-top: 10%;
    scale: 400%;
    border-color: white;
    border-inline-end-color: bisque;
}

/*Estilos para cuando se pasa por el cursor por el boton */
#botonMain:hover{
    background-color: rosybrown;
    transform: scale(1.1);
}